#errorToast{
    position:absolute;
    top:3px;
    right:10px;
    width:200px;
    display:none;
    z-index:9999999;
}
.toast-header {
    background: #f44336;
    color:#fff;
}

.toast-header span{
    color: #fff;
}

/*** MEDIA QUERIES***/
@media (max-width: 576px) {
    #errorToast {
        width: 100px;
    }

}

@media (max-width: 768px) {
    .text-sm-left{
        text-align:left!important;
    }
    fieldset {
        margin: 10px 15px !important;
    }
}

@media (min-width: 992px) {

}

@media (max-width: 1200px) {
}