/*USE [master]
GO

CREATE DATABASE [Telefonica.SugeridorDePlanes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Telefonica.SugeridorDePlanes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Telefonica.SugeridorDePlanes.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Telefonica.SugeridorDePlanes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Telefonica.SugeridorDePlanes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Telefonica.SugeridorDePlanes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Telefonica.SugeridorDePlanes]
GO
/****** Object:  Table [dbo].[RECOMENDADOR_B2B]    Script Date: 4/14/2020 10:53:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECOMENDADOR_B2B](
	[RUT] [varchar](50) NULL,
	[CA_NUMBER] [varchar](50) NULL,
	[Q_LINEAS_RUT] [int] NULL,
	[MOVIL] [int] NULL,
	[COD_PLAN] [varchar](50) NULL,
	[TMM] [decimal](10, 2) NULL,
	[TMM_SIN_IVA] [decimal](10, 2) NULL,
	[EXCEDENTES_LOCAL] [decimal](10, 2) NULL,
	[CANTIDAD_PASAPORTES] [int] NULL,
	[PRESTACION_1] [varchar](50) NULL,
	[PRECIO_PRESTACION_1_SIN_IVA] [decimal](10, 2) NULL,
	[IVA_PRESTACION_1] [decimal](10, 2) NULL,
	[PRESTACION_2] [varchar](50) NULL,
	[PRECIO_PRESTACION_2_SIN_IVA] [decimal](10, 2) NULL,
	[IVA_PRESTACION_2] [decimal](10, 2) NULL,
	[TMM_PRESTACION_SIN_IVA] [decimal](10, 2) NULL,
	[TMM_PRESTACION_IVA_INC] [decimal](10, 2) NULL,
	[TMM+PRESTACION] [decimal](11, 2) NULL,
	[BONO_PRESTACION_CANTIDAD] [bigint] NULL,
	[BONO_PLAN_CANTIDAD] [bigint] NULL,
	[BONO_DATOS_TOTAL] [bigint] NULL,
	[BONO_DATOS_TOTAL_PROM] [bigint] NULL,
	[MINUTOS_VOZ_OFF_PROM] [decimal](10, 2) NULL,
	[MB_TOTAL] [decimal](10, 2) NULL,
	[MB_TOTAL_PROM] [decimal](10, 2) NULL,
	[EXCEDENTES_ROAMING_DATOS] [decimal](10, 2) NULL,
	[EXCEDENTES_ROAMING_SMS] [decimal](10, 2) NULL,
	[EXCEDENTES_ROAMING_VOZ] [decimal](10, 2) NULL,
	[EXCEDENTES_ROAMING] [decimal](10, 2) NULL,
	[ROAMER] [varchar](50) NULL,
	[COSTO_PASAPORTES] [decimal](10, 2) NULL,
	[MONTO_DENTRO_CREDITO_PROM] [decimal](10, 2) NULL,
	[ARPU_PROM] [decimal](12, 2) NULL,
	[ARPU_MAX] [decimal](10, 2) NULL,
	[FECHA_ARPU_MAX] [varchar](50) NULL,
	[ARPU_RUT_MAX] [decimal](10, 2) NULL,
	[FECHA_ARPU_RUT_MAX] [varchar](50) NULL,
	[ARPU_ROAMER_PROM] [decimal](10, 2) NULL,
	[ROAMER_PROM] [varchar](9) NOT NULL,
	[PLAN_SUGERIDO] [varchar](50) NULL,
	[PLAN_SUGERIDO_RETENCION] [varchar](50) NULL,
	[BONO_PLAN_SUGERIDO] [int] NULL,
	[TMM_PLAN_SUGERIDO] [decimal](10, 2) NULL,
	[BONO_PLAN_RETENCION] [int] NULL,
	[TMM_PLAN_RETENCION] [decimal](10, 2) NULL,
	[ROAMING_PLAN_SUGERIDO] [varchar](50) NULL,
	[ROAMING_PLAN_RETENCION] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sugeridor_Clientes]    Script Date: 4/14/2020 10:53:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sugeridor_Clientes](
	[CUST_ACCT_NUMBER] [varchar](50) NOT NULL,
	[titular] [varchar](255) NOT NULL,
	[DOCUMENTO] [varchar](50) NOT NULL,
	[TIPO_DOCUMENTO] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sugeridor_Clientes$]    Script Date: 4/14/2020 10:53:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sugeridor_Clientes$](
	[CUST_ACCT_NUMBER] [nvarchar](255) NULL,
	[titular] [nvarchar](255) NULL,
	[DOCUMENTO] [nvarchar](255) NULL,
	[TIPO_DOCUMENTO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sugeridor_RECOMENDADOR_B2B$]    Script Date: 4/14/2020 10:53:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sugeridor_RECOMENDADOR_B2B$](
	[RUT] [nvarchar](255) NULL,
	[CA_NUMBER] [nvarchar](255) NULL,
	[Q_LINEAS_RUT] [float] NULL,
	[MOVIL] [float] NULL,
	[COD_PLAN] [nvarchar](255) NULL,
	[TMM] [nvarchar](255) NULL,
	[TMM_SIN_IVA] [nvarchar](255) NULL,
	[EXCEDENTES_LOCAL] [nvarchar](255) NULL,
	[CANTIDAD_PASAPORTES] [float] NULL,
	[PRESTACION_1] [nvarchar](255) NULL,
	[PRECIO_PRESTACION_1_SIN_IVA] [nvarchar](255) NULL,
	[IVA_PRESTACION_1] [nvarchar](255) NULL,
	[PRESTACION_2] [nvarchar](255) NULL,
	[PRECIO_PRESTACION_2_SIN_IVA] [nvarchar](255) NULL,
	[IVA_PRESTACION_2] [nvarchar](255) NULL,
	[TMM_PRESTACION_SIN_IVA] [nvarchar](255) NULL,
	[TMM_PRESTACION_IVA_INC] [nvarchar](255) NULL,
	[TMM+PRESTACION] [nvarchar](255) NULL,
	[BONO_PRESTACION_CANTIDAD] [float] NULL,
	[BONO_PLAN_CANTIDAD] [float] NULL,
	[BONO_DATOS_TOTAL] [float] NULL,
	[BONO_DATOS_TOTAL_PROM] [float] NULL,
	[MINUTOS_VOZ_OFF_PROM] [nvarchar](255) NULL,
	[MB_TOTAL] [nvarchar](255) NULL,
	[MB_TOTAL_PROM] [nvarchar](255) NULL,
	[EXCEDENTES_ROAMING_DATOS] [nvarchar](255) NULL,
	[EXCEDENTES_ROAMING_SMS] [nvarchar](255) NULL,
	[EXCEDENTES_ROAMING_VOZ] [nvarchar](255) NULL,
	[EXCEDENTES_ROAMING] [nvarchar](255) NULL,
	[ROAMER] [nvarchar](255) NULL,
	[COSTO_PASAPORTES] [nvarchar](255) NULL,
	[MONTO_DENTRO_CREDITO_PROM] [nvarchar](255) NULL,
	[ARPU_PROM] [nvarchar](255) NULL,
	[ARPU_MAX] [nvarchar](255) NULL,
	[FECHA_ARPU_MAX] [float] NULL,
	[ARPU_RUT_MAX] [nvarchar](255) NULL,
	[FECHA_ARPU_RUT_MAX] [float] NULL,
	[ARPU_ROAMER_PROM] [nvarchar](255) NULL,
	[ROAMER_PROM] [nvarchar](255) NULL,
	[PLAN_SUGERIDO] [nvarchar](255) NULL,
	[PLAN_SUGERIDO_RETENCION] [nvarchar](255) NULL,
	[BONO_PLAN_SUGERIDO] [float] NULL,
	[TMM_PLAN_SUGERIDO] [nvarchar](255) NULL,
	[BONO_PLAN_RETENCION] [float] NULL,
	[TMM_PLAN_RETENCION] [nvarchar](255) NULL,
	[ROAMING_PLAN_SUGERIDO] [nvarchar](255) NULL,
	[ROAMING_PLAN_RETENCION] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sugeridor_Clientes] ([CUST_ACCT_NUMBER], [titular], [DOCUMENTO], [TIPO_DOCUMENTO]) VALUES (N'CA00017777', N'URUGUAY SA', N'213453280018', N'#')
INSERT [dbo].[Sugeridor_Clientes] ([CUST_ACCT_NUMBER], [titular], [DOCUMENTO], [TIPO_DOCUMENTO]) VALUES (N'CA00017777', N'URUGUAY SA', N'213453280018', N'#')
INSERT [dbo].[Sugeridor_Clientes] ([CUST_ACCT_NUMBER], [titular], [DOCUMENTO], [TIPO_DOCUMENTO]) VALUES (N'CA05093924', N'Agustina Moledo', N'53594313', N'PA')
INSERT [dbo].[Sugeridor_Clientes$] ([CUST_ACCT_NUMBER], [titular], [DOCUMENTO], [TIPO_DOCUMENTO]) VALUES (N'CA00017777', N'URUGUAY SA', N'213453280018', N'#')
INSERT [dbo].[Sugeridor_Clientes$] ([CUST_ACCT_NUMBER], [titular], [DOCUMENTO], [TIPO_DOCUMENTO]) VALUES (N'CA00017777', N'URUGUAY SA', N'213453280018', N'#')
INSERT [dbo].[Sugeridor_Clientes$] ([CUST_ACCT_NUMBER], [titular], [DOCUMENTO], [TIPO_DOCUMENTO]) VALUES (N'CA05093924', N'Agustina Moledo', N'53594313', N'PA')
USE [master]
GO
*/