
nav .input-group-text {
    background-color: #e9ecef;
}

.input-group-text {
    background-color: rgba(0, 169, 224, 0.3);
}

.table .thead-dark th {
    border-bottom: 1px solid #454d55;
    color: #fff;
    background-color: #00a9e0;
    vertical-align: middle;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #5bc500;
    border-color: #5bc500;
}


.btn-outline-success {
    color: #5bc500;
    border-color: #5bc500;
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}

legend {
    color: black;
    font-size: 15px;
    width: inherit;
    border-bottom: none;
}

fieldset {
    border: 2px groove #ddd !important;
    padding: 0 4px 4px 4px !important;
    margin: 0 0 1em 0 !important;
    box-shadow: 0px 0px 0px 0px #000;
}


.tableFixHeadDevices {
    overflow-y: auto;
    height: 200px;
}



.tableFixHead {
    overflow-y: auto;
    height: auto;
}

    .tableFixHead tr {
        height: 20px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        height: 85px;
    }

table {
    border-collapse: collapse;
    table-layout: auto;
}

th, td {
    padding: 8px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 90%;
}

td {
    text-align: right;
    height: 5px;
}

th {
    background: #eee;
    height: 10px;
}

.editRow {
    padding: 0px !important;
    text-align: center;
    vertical-align: middle !important;
}



.table-bordered td, .table-bordered th {
    border: 1px solid #454d55;
}

.selectedOfertPlan {
    background-color: #28a745;
}

#tablaPlanesDefi td.editRow a {
    padding: 5px;
}



#tablaPlanesDefi .thead-dark th {
    background-color: #5bc500;
}

#tablaPlanesDefi .total-column {
    background-color: rgba(91, 197, 0, 0.3);
}

.total-column {
    text-align: right;
    font-weight: bold;
    background-color: rgba(0, 169, 224, 0.3);
}

.total-billing-column {
    text-align: left;
    font-weight: bold;
    margin: 7px 5px;
}

.long-column {
    max-width: 110px;
    text-overflow: unset;
    white-space: unset;
}

#movilTableBody td {
    text-align: center;
}

.generateButtons {
    padding: 10px;
    width: 200px;
}

.superiorBillingMain {
    border: 1.3px solid #14BA29;
    display: table;
    width: 230px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
}

.superiorBillingChild {
    border: 1.3px solid #14BA29;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #14BA29
}




.equalBillingMain {
    border: 1.3px solid #FFD200;
    display: table;
    width: 230px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
}

.equalBillingMainChild {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.lowerBillingMain {
    border: 1.3px solid #FF0000;
    display: table;
    width: 230px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
}

.lowerBillingChild {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.emptyBillingDataMain {
    border: 1.3px solid #666666;
    display: table;
    width: 230px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
}

.emptyBillingDataChild {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}




.spanSatus {
   font-family:Calibri
}

.calculateButtons{
    width: 85px;
    height: 37px;
}
