.tableFixHead thead th {
    position: sticky;
    top: 0;
     height: auto;
}



/*** MEDIA QUERIES***/
@media (max-width: 576px) {
}

@media (max-width: 768px) {
    #IndexesValue input{
        width: 50%;
        margin-bottom: 8px;
    }
}

@media (min-width: 992px) {

}

@media (max-width: 1200px) {
}